{% extends 'base.html' %}

{% block head %}
<title>Neuen Benutzer hinzufügen</title>
{% endblock %}

{% block main %}
<article class="white-block">
    <div class="top-cat-title">
        <h2>Neuen Benutzer hinzufügen</h2>
    </div>
    <br>
    <form method="POST">
        {% csrf_token %}
        <ul class="top-cat-list">
            <li>
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label-wrapper">
                            <p class="form-label">Benutzername</p>
                            <input id="username" name="username" class="form-input" type="text"
                                    required>
                        </label>
                    </div>
                </div>
            </li>
            <br>
            <br>
            <li>
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label-wrapper">
                            <p class="form-label">Vorname</p>
                            <input id="firstname" name="firstname" class="form-input" type="text"
                                   required>
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label-wrapper">
                            <p class="form-label">Nachname</p>
                            <input id="lastname" name="lastname" class="form-input" type="text"
                                   required>
                        </label>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label-wrapper">
                            <p class="form-label">Email-Adresse</p>
                            <input id="email" name="email" class="form-input" type="text"
                                   required>
                        </label>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label-wrapper">
                            <p class="form-label">Geschlecht</p>
                        </label>
                        <select id="gender" name="gender">
                            <option value="male">Mann</option>
                            <option value="female">Frau</option>
                        </select>
                    </div>
                </div>
            </li>
        </ul>
        <br>
        <br>
        <div class="row">
            <div class="col-md-1">
                <form>
                    <button class="form-btn primary-default-btn transparent-btn" type="submit">
                        Speichern
                    </button>
                </form>
            </div>
        </div>
    </form>
</article>
{% endblock %}