{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Agenda für </title>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-lg-9">
            <div class="users-table table-wrapper">
                <table class="posts-table">
                    <thead>
                    <tr class="users-table-info">
                        <th>&#160 Uhrzeit</th>
                        <th>Titel</th>
                        <th>Aktion</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}