{% extends 'base.html' %}
{% load static %}

{% block head %}
  <title>Agenda für {{ agenda_information.title }}</title>
{% endblock %}

{% block main %}
<form action="" method="POST">
{% csrf_token %}
{% if agenda_information.isFinal %}
        <div>
          <h2 class="main-title" style="display: inline-block;">{{ agenda_information.title }}</h2>
          <span class="badge-success-agenda">finaler Ablauf</span>
        </div>
      {% else %}
        <div>
          <h2 class="main-title" style="display: inline-block;">{{ agenda_information.title }}</h2>
          <span class="badge-active-agenda">aktiver Ablauf</span>
        </div>
      {% endif %}
  <div class="row">
    <div class="col-lg-9">
      <div class="users-table table-wrapper">
        <table class="posts-table">
          <thead>
            <tr class="users-table-info">
              <th>&#160 Uhrzeit</th>
              <th width=673>Titel</th>
              <th>Zuständig</th>
            </tr>
          </thead>
          <tbody>
            {% for item in agenda_information.items %}

            {% if item.isBeforeEvent %}
              <tr class="before">
                <td>{{ item.time|date:'H:i' }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.responsible }}</td>
              </tr>
              {% elif item.type == 'header' %}
                <tr class="header">
                  <td></td>
                  <td>
                    <strong>{{ item.title }}</strong>
                  </td>
                  <td></td>
                </tr>
              {% elif item.type == 'song' %}
                <tr class="song">
                  <td>{{ item.time|date:'H:i' }}</td>
                  <td>
                    <strong>{{ item.title }}</strong>
                    {% if item.song %}
                    <fieldset>
                    {% for song_list in item.song %}
                      {% if song_list.0 == 0 %}
                      <p><input type="radio" name="song_number{{ forloop.parentloop.counter }}" value="no_song_set" checked style='display: none'/>{{ song_list.1}}</p>
                      {% else %}
                        {% if forloop.first %}
                          {% if song_list.1.churchSongID %}
                          <p><input type="radio" name="song_number{{ forloop.parentloop.counter }}" value="{{ song_list.1.id }}" checked/>{{ song_list.0 }}% {{ song_list.1.title }}; {{ song_list.1.churchSongID }}</p>
                          {% else %}
                          <p><input type="radio" name="song_number{{ forloop.parentloop.counter }}" value="{{ song_list.1.id }}" checked/>{{ song_list.0 }}% {{ song_list.1.title }}</p>
                          {% endif %}
                        {% else %}
                          {% if song_list.1.churchSongID %}
                          <p><input type="radio" name="song_number{{ forloop.parentloop.counter }}" value="{{ song_list.1.id }}"/>{{ song_list.0 }}% {{ song_list.1.title }}; {{ song_list.1.churchSongID }}</p>
                          {% else %}
                          <p><input type="radio" name="song_number{{ forloop.parentloop.counter }}" value="{{ song_list.1.id }}"/>{{ song_list.0 }}% {{ song_list.1.title }}</p>
                          {% endif %}
                        {% endif %}
                        {% if forloop.last %}
                          <p><input type="radio" name="song_number{{ forloop.parentloop.counter }}" value="no_file_set"/>Keinen Song wählen</p>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                    </fieldset>
                    {% endif %}
                  </td>
                  <td>{{ item.responsible }}</td>
                </tr>
              {% else %}
                <tr>
                  <td>{{ item.time|date:'H:i' }}</td>
                  <td>
                    {{ item.title }}
                    {% if item.note %}
                    <details open>
                      <summary>weitere Infos</summary>
                      <ul style="list-style-type:disc">
                        {% for i in item.note %}
                        <li style="padding-bottom: 5px">{{ i }}</p>
                        {% endfor %}
                      </ul>
                    </details>
                    {% endif %}
                  </td>
                  <td>{{ item.responsible }}</td>
                </tr>
              {% endif %}{% endfor %}
          </tbody>
        </table>
      </div>
    </div>
      <div class="col-lg-3">
        <button type="submit" class="download-btn" name="download_songbeamer_file" value="{{ id }}" style="margin-top: 48px">
          <div class="side-block-icon primary">
            <i data-feather="download" aria-hidden="true"></i>
          </div>
          <div class="side-block-info">
            <p class="side-block-info__num">Songbeamer-Datei</p>
          </div>
        </button>
        <button type="submit" class="download-btn" name="download_presentation_file" value="{{ id }}">
          <div class="stat-cards-icon warning">
            <i data-feather="file" aria-hidden="true"></i>
          </div>
          <div class="side-block-info">
            <p class="side-block-info__num">Präsentation</p>
          </div>
        </button>
      </div>
  </div>
</form>
{% endblock %}
