{% extends 'base.html' %}

{% block head %}
<title>Passwort ändern</title>
{% endblock %}

{% block main %}
<article class="white-block">
    <div class="top-cat-title">
        <h2>Hallo {{ user.first_name }}! Hier kannst du dein Passwort ändern</h2>
    </div>
    <div class="top-cat-subtitle">
        <h4>Dein Passwort darf deinen anderen persönlichen Daten nicht zu ähnlich sein.</h4>
    </div>
    <form action="{% url 'change_password' %}" method="POST">
        <ul class="top-cat-list">
            <li>
                <div class="top-cat-list__title">
                    Bitte gebe hier dein aktuelles Passwort ein
                </div>
                <input type="password" name="old_password" class="form-input"
                       autocomplete="current-password" placeholder="Aktuelles Passwort"
                       autofocus required id="id_old_password">
            </li>
            <li>
                <label class="form-label-wrapper">
                    <p class="form-label">Password</p>
                    <input id="id_password" name="password" class="form-input" type="password"
                           placeholder="Gebe hier dein Passwort ein"
                           required>
                </label>
            </li>
            <li>
                <input type="password" class="input-lg form-control" name="new_password1" id="new_password1"
                       placeholder="New Password" autocomplete="off">
                <div class="row">
                    <div class="col-sm-6">
                        <div id="8char">
                            <i class="check-icon" data-feather="check" aria-hidden="true" style="color:#00A41E;"></i>
                            <i class="x-icon" data-feather="x-circle" aria-hidden="true" style="color:#FF0004;"></i>
                        </div>
                        8 Characters Long<br>
                        <div id="ucase">
                            <i class="check-icon" data-feather="check" aria-hidden="true" style="color:#00A41E;"></i>
                            <i class="x-icon" data-feather="x-circle" aria-hidden="true" style="color:#FF0004;"></i>
                        </div>
                        One Uppercase
                        Letter
                    </div>
                    <div class="col-sm-6">
                        <div id="lcase">
                            <i class="check-icon" data-feather="check" aria-hidden="true" style="color:#00A41E;"></i>
                            <i class="x-icon" data-feather="x-circle" aria-hidden="true" style="color:#FF0004;"></i>
                        </div>
                        One Lowercase Letter<br>
                        <div id="num">
                            <i class="check-icon" data-feather="check" aria-hidden="true" style="color:#00A41E;"></i>
                            <i class="x-icon" data-feather="x-circle" aria-hidden="true" style="color:#FF0004;"></i>
                        </div>
                        One Number
                    </div>
                </div>
                <input type="password" class="input-lg form-control" name="new_password2" id="new_password2"
                       placeholder="Repeat Password" autocomplete="off">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="password_match">
                            <i class="check-icon" data-feather="check" aria-hidden="true" style="color:#00A41E;"></i>
                            <i class="x-icon" data-feather="x-circle" aria-hidden="true" style="color:#FF0004;"></i>
                        </div>
                        Passwords Match
                    </div>
                </div>
            </li>
        </ul>
    </form>
</article>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% load static %}
<!-- Password Validator -->
<script src="{% static 'base/js/password_validator.js' %}"></script>
{% endblock %}