<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'base/img/svg/logo.svg' %}">
    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/style.min.css' %}">
    <title>Passwort vergessen</title>
</head>

<body>
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <div class="layer"></div>
        <main class="page-center">
            <article class="sign-up">
                <h1 class="sign-up__title">Passwort vergessen?</h1>
                <form class="sign-up-form form" method="POST">
                    {% csrf_token %}
                    <label class="form-label-wrapper">
                        <p class="form-label">Benutzername oder E-Mail-Adresse</p>
                        <input id="id_username" name="username" class="form-input" type="text"
                               placeholder="Name oder E-Mail-Adresse"
                               required>
                    </label>
                    <br>
                    <button class="form-btn primary-default-btn transparent-btn" type="submit" value="Reset">
                        Passwort zurücksetzen
                    </button>
                    {% for message in messages %}
                    <br>
                    <div class="form-label-wrapper badge-success">
                        <strong>{{ message }}</strong>
                    </div>
                    {% endfor %}
                    {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <br>
                    <div class="form-label-wrapper badge-trashed">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <br>
                    <div class="form-label-wrapper badge-trashed">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}
                </form>
            </article>
        </main>
    </div>
</div>
<!-- Chart library -->
<script src="{% static 'base/plugins/chart.min.js' %}"></script>
<!-- Icons library -->
<script src="{% static 'base/plugins/feather.min.js' %}"></script>
<!-- Custom scripts -->
<script src="{% static 'base/js/script.js' %}"></script>
</body>

</html>