{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Gottesdienste</title>
{% endblock %}

{% block main %}
<h1 class="main-title">Gottesdienste der nächsten 4 Wochen</h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="users-table table-wrapper">
                <table class="posts-table">
                    <thead>
                    <tr class="users-table-info">
                        <th>&#160 Datum</th>
                        <th>Titel</th>
                        <th>Personen</th>
                        <th>Status</th>
                        <th>Aktion</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                        <tr>
                            <td><strong>{{ event.date|date:'d.m.Y H:i' }} Uhr</strong></td>
                            <td>{{ event.name }}</td>
                            <td>
                                Leitung: {{ event.service_leitung }}
                                <br>
                                Predigt: {{ event.service_predigt }}
                                <br>
                                {% if user.first_name in event.service_presentation %}
                                    Präsentation:
                                    <span class="active-presentation">{{ event.service_presentation }}</span>
                                {% else %}
                                    Präsentation: {{ event.service_presentation }}
                                {% endif %}
                            </td>
                            <td>
                                {% if event.agenda_state == 'final' %}
                                    <span class="badge-success">finaler Ablauf</span>
                                    Letzte Änderung: {{ event.last_change_date|date:'d.m.Y H:i' }}
                                    <br>Von: {{ event.last_change_person }}
                                {% elif event.agenda_state == 'not_final' %}
                                    <span class="badge-active">aktiver Ablauf</span>
                                    Letzte Änderung: {{ event.last_change_date|date:'d.m.Y H:i' }}
                                    <br>Von: {{ event.last_change_person }}
                                {% else %}
                                    <span class="badge-trashed">kein Ablauf</span>
                                {% endif %}

                            </td>
                            <td>
                                {% if event.agenda_state == 'final' or event.agenda_state == 'not_final' %}
                                <a href="{% url 'agenda_by_identifier' event.id %}">Ansehen</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}